*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(25,25,25);
}

.line{
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Special Elite', monospace;
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 5px 0;

  border-right: 1px solid rgba(255, 255, 255, 0.75);

  white-space: nowrap;
  overflow: hidden;
}

.typing-animation{
  animation: blinkCursor 1000ms steps(40) infinite normal, 
             typing steps(40) 4s 1s normal both;
}

@keyframes typing{
  from{
    width: 0;
  }
  to{
    width: 15.3em;
  }
}

@keyframes blinkCursor {
  from{
    border-right: 1px solid rgba(255, 255, 255, 0.75);
  }
  to{
    border-right: transparent;
  }
}